/* #maincontent{
    height: 51px;
    width: 201px;
    border: 1px solid black;
}

table{
    font-family: arial, sans-serif;
    border: 1px solid black;
    width: 50%;
    height: 40%;
}

td,th{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

th{
    background-color: rgb(8, 125, 125);
} */

/* #content{
    margin-top: 250px;
} */

/* #Name{
    width: 200px;
    height: 50px;
    font-size: 10px;
} */

/* #Age{
    width: 200px;
    height: 50px;
    font-size: 10px;
}

#Gender{
    width: 200px;
    height: 50px;
    font-size: 10px;
}

#Campus{
    width: 200px;
    height: 50px;
    font-size: 10px;
} */

/* #SubmitBtn{
    width: 200px;
    height: 60px;
    font-size: 40px;
    margin-top: 10px;
} */