*{
    margin:0;
    padding:0;
}

#main{
    width: 500px;
    height: 600px;
    border: 1px solid black;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
 }

#firststbox{
    width: 450px;
    height:570px;
    border:1px solid black;
    margin-left: 20px;
    margin-right: 50px;
 }

#subdivision{
    text-align: left;
    display: flex;
    flex-direction:column ;
    justify-content:space-around;
}
/* display: flex;
flex-direction: row;
margin-left: 10px;
justify-content: space-around; */